<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/register" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fa fa-registered"></i>
      <span style="color: black; font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size: larger">REGISTER</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/dashboard" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fa fa-tasks"></i>
      <span style="color: black; font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size: larger ">DASHBOARD</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/shorten" data-toggle="collapse" data-target="#collapseUtilities"
       aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fa fa-cubes"></i>
      <span style="color: black; font-weight: bolder; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size: larger ">GET SHORT URL</span>
    </a>
    <a class="nav-link collapsed" routerLink="/showURL" data-toggle="collapse" data-target="#collapseUtilities"
       aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fa fa-edit"></i>
      <span style="color: black; font-weight: bolder; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size: larger ">ALL URL</span>
    </a>
    <a class="nav-link collapsed" routerLink="/showGraph" data-toggle="collapse" data-target="#collapseUtilities"
       aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fa fa-object-group"></i>
      <span style="color: black; font-weight: bolder; font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif; font-size: larger">DISPLAY GRAPH</span>
    </a>
  </li>
</ul>
