<div class="row d-flex"
     style="justify-content: space-around; margin-top: 2rem">
  <div class="col-lg-8"
       style="padding-top: 2rem; text-align: center; background-color:azure">
    <h1 style="padding-bottom: 2rem">Links Overview</h1>
    <ngx-charts-bar-vertical [view]="view"
                             [results]="chartData"
                             [gradient]="gradient"
                             [xAxis]="showXAxis"
                             [yAxis]="showYAxis"
                             [legend]="showLegend"
                             [showXAxisLabel]="showXAxisLabel"
                             [showYAxisLabel]="showYAxisLabel"
                             [xAxisLabel]="xAxisLabel"
                             [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
  </div>
</div>
